[Desktop Entry]
Name=Note5
Comment=HTML5 Plain Text Editor
Exec=html5app /usr/share/note5/
Icon=note5
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
StartupNotify=true
